<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="mongoConnection" value="mongodb://localhost:27017"/>
    <!--add key="mongoConnection" value="mongodb://kanel:soengkanel@xxxxxx.mongolab.com:34348/kaneldb"/-->
    <add key="mongoDb" value="shopdx3"/>
    <!--add key="username" value="xxxxxxxxxxx"/-->
    <!--add key="password" value="xxxxxxxx"/-->
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
</configuration>